.container {
  box-sizing: border-box;
  width: 100vw;
  padding: 0 5.5rem;
}

.svg {
  overflow: visible;
}

.route {
  fill: none;
  stroke: #303030;
  stroke-miterlimit: 10;
}
.route {
  stroke-width: 0.75px;
}
.outerPoint {
  display: none;
}
.point {
  z-index: 999;
  fill: #303030;
  cursor: pointer;
}
